.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive table td p {
    font-size: 100%;
}

footer p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wy-nav-content {
    max-width: none;
}

.wy-side-nav-search {
    background-color: #0073a3;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Montserrat","Lato","Open Sans", sans-serif;
}

.wy-menu p.caption {
    color: #e3e3e3;
}

.section li p.first {
    margin-top: 8px;
    margin-bottom: 3px;
}

div.document span.search-highlight {
    background-color: yellow;
}

img.math {
    width: auto;
}

.btn {
    margin-bottom: 10px;
}