# py_input, local_bin_root, and local_sim_root can point to the Regression\testing_output directory
# local_input_root, and home_input should both point to the Regression\input_data directory

[POSIX]
py_input         = /EMOD/Python/
local_bin_root   = /EMOD/bin/
local_sim_root   = /EMOD/regression_test_output/
local_input_root = /EMOD/Regression/input_data
home_input       = /EMOD/Regression/input_data

[WINDOWS]
py_input         = C:\work\dev\EMOD-3\Regression\testing_output\Python\
local_bin_root   = C:\work\dev\EMOD-3\Regression\testing_output\bin\
local_sim_root   = C:\work\dev\EMOD-3\Regression\testing_output\simulations_local\
local_input_root = C:\work\dev\EMOD-3\Regression\input_data\
home_input       = C:\work\dev\EMOD-3\Regression\input_data\
