#define Disease_Susceptible_Report_Poliovirus_Type_DESC_TEXT "The serotype which is used to report infected individuals who are susceptible to paralysis: 0-2: WPV1-3, 3-5:VDPV1-3."
#define Enable_Default_Shedding_Function_DESC_TEXT "When both contact and environmental transmissions are present, whether the default shedding function is used for both modes. If false, separate functions of contact and environmental function will be used."
#define Max_Rand_Standard_Deviations_DESC_TEXT "Limit to extents of a random normal as number of standard deviations."
#define Excrement_Load_DESC_TEXT "Feces grams per day."
#define Acquire_Rate_Default_Polio_DESC_TEXT "Fraction of virus acquired from the mixing pool by default, used when the mixing pool option is disabled or both transmission options are on."
#define Boost_Log2_NAb_IPV1_DESC_TEXT "Increase in log2 neutralizing antibody titer in response to IPV1 antigen."
#define Boost_Log2_NAb_IPV2_DESC_TEXT "Increase in log2 neutralizing antibody titer in response to IPV2 antigen."
#define Boost_Log2_NAb_IPV3_DESC_TEXT "Increase in log2 neutralizing antibody titer in response to IPV3 antigen."
#define Boost_Log2_NAb_OPV1_DESC_TEXT "Increase in log2 neutralizing antibody titer in response to Sabin1 infection."
#define Boost_Log2_NAb_OPV2_DESC_TEXT "Increase in log2 neutralizing antibody titer in response to Sabin2 infection."
#define Boost_Log2_NAb_OPV3_DESC_TEXT "Increase in log2 neutralizing antibody titer in response to Sabin3 infection."
#define Boost_Log2_NAb_Stddev_IPV1_DESC_TEXT "Standard deviation in log2 antibody boost for IPV1 antigen."
#define Boost_Log2_NAb_Stddev_IPV2_DESC_TEXT "Standard deviation in log2 antibody boost for IPV2 antigen."
#define Boost_Log2_NAb_Stddev_IPV3_DESC_TEXT "Standard deviation in log2 antibody boost for IPV3 antigen."
#define Boost_Log2_NAb_Stddev_OPV1_DESC_TEXT "Standard deviation in log2 antibody boost for Sabin1 infection."
#define Boost_Log2_NAb_Stddev_OPV2_DESC_TEXT "Standard deviation in log2 antibody boost for Sabin2 infection."
#define Boost_Log2_NAb_Stddev_OPV3_DESC_TEXT "Standard deviation in log2 antibody boost for Sabin3 infection."
#define Delay_To_Paralysis_DESC_TEXT "Incubation period, in days, from time of infection to onset of paralysis."
#define Incubation_Disease_Mu_DESC_TEXT "Incubation period to disease, mu parameter, in polio these are interpreted as lognormal"
#define Incubation_Disease_Sigma_DESC_TEXT "Incubation period to disease, sigma parameter, in polio these are interpreted as lognormal"
#define Delay_To_Antibody_DESC_TEXT "TBD."
#define Max_Log2_NAb_IPV1_DESC_TEXT "Multiplicative factor on the natural log of neutralizing antibody titer in response to live poliovirus challenge for IPV1."
#define Max_Log2_NAb_IPV2_DESC_TEXT "Multiplicative factor on the natural log of neutralizing antibody titer in response to live poliovirus challenge for IPV2."
#define Max_Log2_NAb_IPV3_DESC_TEXT "Multiplicative factor on the natural log of neutralizing antibody titer in response to live poliovirus challenge for IPV3."
#define Max_Log2_NAb_OPV1_DESC_TEXT "Multiplicative factor on the natural log of neutralizing antibody titer in response to live poliovirus challenge for OPV1."
#define Max_Log2_NAb_OPV2_DESC_TEXT "Multiplicative factor on the natural log of neutralizing antibody titer in response to live poliovirus challenge for OPV2."
#define Max_Log2_NAb_OPV3_DESC_TEXT "Multiplicative factor on the natural log of neutralizing antibody titer in response to live poliovirus challenge for OPV3."
#define Polio_Host_Factor_DESC_TEXT "Probability, as a function of host factors conditioned on an infectious dose, that an individual can be infected by a poliovirus."
#define Prime_Log2_NAb_IPV1_DESC_TEXT "First IPV1 antigen exposure log2 neutralizing antibody titer."
#define Prime_Log2_NAb_IPV2_DESC_TEXT "First IPV2 antigen exposure log2 neutralizing antibody titer."
#define Prime_Log2_NAb_IPV3_DESC_TEXT "First IPV3 antigen exposure log2 neutralizing antibody titer."
#define Prime_Log2_NAb_OPV1_DESC_TEXT "First Sabin1 infection log2 neutralizing antibody titer."
#define Prime_Log2_NAb_OPV2_DESC_TEXT "First Sabin2 infection log2 neutralizing antibody titer."
#define Prime_Log2_NAb_OPV3_DESC_TEXT "First Sabin3 infection log2 neutralizing antibody titer."
#define Prime_Log2_NAb_Stddev_IPV1_DESC_TEXT "Standard deviation in IPV1 log2 priming titer."
#define Prime_Log2_NAb_Stddev_IPV2_DESC_TEXT "Standard deviation in IPV2 log2 priming titer."
#define Prime_Log2_NAb_Stddev_IPV3_DESC_TEXT "Standard deviation in IPV3 log2 priming titer."
#define Prime_Log2_NAb_Stddev_OPV1_DESC_TEXT "Standard deviation in Sabin1 log2 priming titer."
#define Prime_Log2_NAb_Stddev_OPV2_DESC_TEXT "Standard deviation in Sabin2 log2 priming titer."
#define Prime_Log2_NAb_Stddev_OPV3_DESC_TEXT "Standard deviation in Sabin3 log2 priming titer."
#define Maternal_log2NAb_mean_DESC_TEXT "mean of log2 neutralizing antibodies in mothers"
#define Maternal_log2NAb_std_DESC_TEXT  "std deviation of log2 neutralizing antibodies in mothers"
#define Maternal_Ab_Halflife_DESC_TEXT  "half life in days for maternal neutralizing antibodies"

#define Waning_Humoral_Fast_Fraction_DESC_TEXT "Fraction of weight given to the humoral fast decay rate."
#define Waning_Humoral_Rate_Fast_DESC_TEXT "Exponential decay rate per day of neutralizing antibody titer that applied to the waning_humoral_fast_fraction."
#define Waning_Humoral_Rate_Slow_DESC_TEXT "Exponential decay rate per day of neutralizing antibody titer that applies to the (1-waning_humoral_fast_fraction)."
#define Waning_Mucosal_Fast_Fraction_DESC_TEXT "Fraction of weight given to the mucosal fast decay rate."
#define Waning_Mucosal_Rate_Fast_DESC_TEXT "Exponential decay rate per day of neutralizing antibody titer that applies to the waning_mucosal_fast_fraction."
#define Waning_Mucosal_Rate_Slow_DESC_TEXT "Exponential decay rate per day of neutralizing antibody titer that applies to the (1-waning_mucosal_fast_fraction)."

//#define Node_Contagion_Decay_Rate_DESC_TEXT "Rate per day of exponential decay of the contagion in the environment or fomites. If there is no lifetime of contagion, set this parameter to reflect the time step."
#define Default_Antigen_DESC_TEXT "Poliovirus type for simulations with straintracking disabled."
#define Default_Genome_DESC_TEXT "Poliovirus genome for simulations with straintracking disabled. \
Caution: Although this parameter currently has an upper bound of 1000 in the user interface you must not use values above 255. This parameter is used as an index into the values provided for substrainRelativeInfectivityString_VDPV1, substrainRelativeInfectivityString_VDPV2, and substrainRelativeInfectivityString_VDPV3, which are sized based on the number_substrains parameter, limited to 256."
#define Detailed_Polio_Log_Type_DESC_TEXT "Type of polio-specific data report. Possible values are: \
POLIO_LOG_NON, \
POLIO_LOG_VIRUS_POPULATION, \
POLIO_LOG_INDIVIDUAL_INFECTIONS. \
For more information about the log files see the DTK File Format Guide."
#define Shed_Fecal_MaxLog10_Peak_Titer_DESC_TEXT "fecal shedding maximum log10 titer for the peak of shedding profile."
#define Shed_Fecal_MaxLog10_Peak_Titer_Stddev_DESC_TEXT "fecal shedding standatd deviation in log10 titer for the peak of shedding profile."
#define Shed_Fecal_Titer_Block_Log2NAb_DESC_TEXT "mucosal log2 neutralizing antibodies to reduce fecal shedding maximum log10 titer to zero."
#define Shed_Fecal_Titer_Profile_Mu_DESC_TEXT "fecal shedding shape parameter for titer profile."
#define Shed_Fecal_Titer_Profile_Sigma_DESC_TEXT "fecal sheding shape parameter for titer profile."
#define Shed_Fecal_MaxLn_Duration_DESC_TEXT "fecal shedding natural log of maximum infection duration."
#define Shed_Fecal_MaxLn_Duration_Stddev_DESC_TEXT "fecal shedding standard deviation in natural log of infection duration."
#define Shed_Fecal_Duration_Block_Log2NAb_DESC_TEXT "mucosal log2 neutralizing antibodies to reduce fecal shedding duration to zero."
#define Shed_Oral_MaxLog10_Peak_Titer_DESC_TEXT "fecal shedding maximum log10 titer for the peak of shedding profile."
#define Shed_Oral_MaxLog10_Peak_Titer_Stddev_DESC_TEXT "fecal shedding standatd deviation in log10 titer for the peak of shedding profile."
#define Shed_Oral_Titer_Block_Log2NAb_DESC_TEXT "mucosal log2 neutralizing antibodies to reduce fecal shedding maximum log10 titer to zero."
#define Shed_Oral_Titer_Profile_Mu_DESC_TEXT "fecal shedding shape parameter for titer profile."
#define Shed_Oral_Titer_Profile_Sigma_DESC_TEXT "fecal sheding shape parameter for titer profile."
#define Shed_Oral_MaxLn_Duration_DESC_TEXT "fecal shedding natural log of maximum infection duration."
#define Shed_Oral_MaxLn_Duration_Stddev_DESC_TEXT "fecal shedding standard deviation in natural log of infection duration."
#define Shed_Oral_Duration_Block_Log2NAb_DESC_TEXT "mucosal log2 neutralizing antibodies to reduce fecal shedding duration to zero."
#define Report_Sabin_Wild_Phenotype_As_Wild_DESC_TEXT "Changes categorization from VDPV to WPV for reporting based on phenotype."
#define Enable_Contact_Tracing_DESC_TEXT "Set to false to override genomes to enumerate infections for a WPV outbreak. Infections are only traced up to the number of substrains, although disease transmission continues as normal. In this mode, the evolution algorithm increments the substrain value of any infection by 1. \
Warning: This parameter applies to WPV outbreaks only. Do not use for VDPV simulations."
#define Evolution_Polio_Clock_Type_DESC_TEXT "Functional form of the molecular clock for evolution dynamics. Applies to vaccine-derived strains in host. Possible values are: \
POLIO_EVOCLOCK_NONE, \
POLIO_EVOCLOCK_LINEAR, \
POLIO_EVOCLOCK_IMMUNITY, \
POLIO_EVOCLOCK_REVERSION_AND_IMMUNITY, \
POLIO_EVOCLOCK_REVERSION"
#define Evolution_Polio_Halfmax_Reversion_DESC_TEXT "Reversion level at which mutation rate declines to half of maximum by Michaelis-Menton kinetics."
#define Evolution_Polio_Immune_Rate_DESC_TEXT "Rate of mutation fixation in the VDPV genome, in sites per day."
#define Evolution_Polio_Sabin1_Linear_Rate_DESC_TEXT "Rate of fixation of reversions for Sabin1, in sites per day."
#define Evolution_Polio_Sabin2_Linear_Rate_DESC_TEXT "Rate of fixation of reversions for Sabin2, in sites per day."
#define Evolution_Polio_Sabin3_Linear_Rate_DESC_TEXT "Rate of fixation of reversions for Sabin3, in sites per day."
#define Evolution_Polio_WPV_Linear_Rate_DESC_TEXT "Rate of mutation fixation in the WPV genome, in sites per day."
#define Reversion_Steps_Sabin1_DESC_TEXT "Number of attenuating sites for Sabin1."
#define Reversion_Steps_Sabin2_DESC_TEXT "Number of attenuating sites for Sabin2."
#define Reversion_Steps_Sabin3_DESC_TEXT "Number of attenuating sites for Sabin3."
#define VDPV_Virulence_Model_Type_DESC_TEXT "Type of virulence model for fitness gains in reversion of attenuating sites. The selected model controls the effects of evolution or reversion. Possible values are: \
POLIO_VDPV_NONVIRULENT, \
POLIO_VDPV_PARALYSIS, \
POLIO_VDPV_PARALYSIS_AND_LOG_INFECTIVITY, \
POLIO_VDPV_LOG_PARALYSIS_AND_LOG_INFECTIVITY"
#define Poliovirus_Neurotropism_DESC_TEXT "The probability that 1 TCID50 of the gut viral load evades neutralizing anitibodies en route to the spinal cord."
#define Paralysis_Base_Rate_Sabin1_DESC_TEXT "Probability of paralysis (VAPP) from a Sabin1 poliovirus infection in a fully susceptible individual."
#define Paralysis_Base_Rate_Sabin2_DESC_TEXT "Probability of paralysis (VAPP) from a Sabin2 poliovirus infection in a fully susceptible individual."
#define Paralysis_Base_Rate_Sabin3_DESC_TEXT "Probability of paralysis (VAPP) from a Sabin3 poliovirus infection in a fully susceptible individual."
#define Paralysis_Base_Rate_WPV1_DESC_TEXT "Probability of paralysis from a WPV1 poliovirus infection in a fully susceptible individual."
#define Paralysis_Base_Rate_WPV2_DESC_TEXT "Probability of paralysis from a WPV2 poliovirus infection in a fully susceptible individual."
#define Paralysis_Base_Rate_WPV3_DESC_TEXT "Probability of paralysis from a WPV3 poliovirus infection in a fully susceptible individual."
#define Paralytic_Case_Mortality_DESC_TEXT "Probability that a paralytic case is fatal."
#define Paralytic_Immunity_Titer_DESC_TEXT "Serum Nab protective threshold for paralysis."
#define Vaccine_Dantigen_IPV1_DESC_TEXT "Potency of inactivated polio vaccine, in D-antigen units, for serotype 1 component."
#define Vaccine_Dantigen_IPV2_DESC_TEXT "Potency of inactivated polio vaccine, in D-antigen units, for serotype 2 component."
#define Vaccine_Dantigen_IPV3_DESC_TEXT "Potency of inactivated polio vaccine, in D-antigen units, for serotype 3 component."
#define Vaccine_Titer_bOPV1_DESC_TEXT "Bivalent OPV titer in TCID50 per dose of type 1 component."
#define Vaccine_Titer_bOPV3_DESC_TEXT "Bivalent OPV titer in TCID50 per dose of type 3 component."
#define Vaccine_Titer_mOPV1_DESC_TEXT "Monovalent OPV type 1 titer in TCID50 per dose."
#define Vaccine_Titer_mOPV2_DESC_TEXT "Monovalent OPV type 2 titer in TCID50 per dose."
#define Vaccine_Titer_mOPV3_DESC_TEXT "Monovalent OPV type 3 titer in TCID50 per dose."
#define Vaccine_Titer_tOPV1_DESC_TEXT "Trivalent OPV titer in TCID50 per dose of type 1 component."
#define Vaccine_Titer_tOPV2_DESC_TEXT "Trivalent OPV titer in TCID50 per dose of type 2 component."
#define Vaccine_Titer_tOPV3_DESC_TEXT "Trivalent OPV titer in TCID50 per dose of type 3 component."
#define Mucosal_Immunogenicity_IPV_DESC_TEXT "The mucosal immunogenicity of IPV relative to OPV."
#define Mucosal_Immunogenicity_IPV_OPVEXPOSED_DESC_TEXT "The mucosal immunogenicity of IPV relative to OPV on OPV-exposed individuals."
#define Specific_Infectivity_Sabin1_DESC_TEXT "Specific infectivity of Sabin1."
#define Specific_Infectivity_Sabin2_DESC_TEXT "Specific infectivity of Sabin2."
#define Specific_Infectivity_Sabin3_DESC_TEXT "Specific infectivity of Sabin3."
#define Specific_Infectivity_WPV1_DESC_TEXT "Specific infectivity of WPV1."
#define Specific_Infectivity_WPV2_DESC_TEXT "Specific infectivity of WPV2."
#define Specific_Infectivity_WPV3_DESC_TEXT "Specific infectivity of WPV3."
#define Infectivity_Beta_Param_DESC_TEXT "Infectivity in cell culture relative to humans."
#define Neutralization_Time_Tau_DESC_TEXT "Virus neutralization time constant in days."
#define Viral_Interference_Sabin1_DESC_TEXT "Probability that a Sabin1 infection in an individual will block superinfection by any other poliovirus type."
#define Viral_Interference_Sabin2_DESC_TEXT "Probability that a Sabin2 infection in an individual will block superinfection by any other poliovirus type."
#define Viral_Interference_Sabin3_DESC_TEXT "Probability that a Sabin3 infection in an individual will block superinfection by any other poliovirus type."
#define Viral_Interference_WPV1_DESC_TEXT "Probability that a WPV1 infection in an individual will block infection by any other poliovirus type."
#define Viral_Interference_WPV2_DESC_TEXT "Probability that a WPV2 infection in an individual will block infection by any other poliovirus type."
#define Viral_Interference_WPV3_DESC_TEXT "Probability that a WPV3 infection in an individual will block infection by any other poliovirus type."
#define Vaccine_Take_Multiplier_Sabin1_DESC_TEXT "A multiplier to represent vaccine take of live Sabin virus for type 1."
#define Vaccine_Take_Multiplier_Sabin2_DESC_TEXT "A multiplier to represent vaccine take of live Sabin virus for type 2."
#define Vaccine_Take_Multiplier_Sabin3_DESC_TEXT "A multiplier to represent vaccine take of live Sabin virus for type 3."
#define spatialoutput_Age_Infection_DESC_TEXT "Set to true to enable data about age at time of infection so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_Cumulative_Paralytic_Cases_DESC_TEXT "Set to true to enable cumulative paralytic case data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_Log_Total_Prevalence_DESC_TEXT "Set to true to enable total log prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_Total_Prevalence_DESC_TEXT "Set to true to enable total prevalence data so that you can create an output channel. Set to false to not enable this data."
#define spatialoutput_VDPV1_Log_Prevalence_DESC_TEXT "Set to true to enable VDPV1 log prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_VDPV1_Prevalence_DESC_TEXT "Set to true to enable VDPV1 prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_VDPV2_Log_Prevalence_DESC_TEXT "Set to true to enable VDPV2 log prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_VDPV2_Prevalence_DESC_TEXT "Set to true to enable VDPV2 prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_VDPV3_Log_Prevalence_DESC_TEXT "Set to true to enable VDPV3 log prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_VDPV3_Prevalence_DESC_TEXT "Set to true to enable VDPV3 prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_WPV1_Log_Prevalence_DESC_TEXT "Set to true to enable WPV1 log prevalence data so that you can create an output channel. Set to false to not enable this data."
#define spatialoutput_WPV1_Prevalence_DESC_TEXT "Set to true to enable WPV1 prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_WPV2_Log_Prevalence_DESC_TEXT "Set to true to enable WPV2 log prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_WPV2_Prevalence_DESC_TEXT "Set to true to enable WPV2 prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define spatialoutput_WPV3_Log_Prevalence_DESC_TEXT "Set to true to enable WPV3 log prevalence data so that you can create an output channel. Set to false to not enable this data."
#define spatialoutput_WPV3_Prevalence_DESC_TEXT "Set to true to enable WPV3 prevalence data so that you can create an output channel. Set to false to not enable this data. "
#define DRUG_Adherence_Rate_DESC_TEXT "Adherence rate for doses subsequent to first dose. Per-dose adherece rate for a dropout model."
#define DRUG_Titer_Efficacy_DESC_TEXT "efficacy in reducing log10 tcid50 shed titer."
#define DRUG_Infection_Duration_Efficacy_DESC_TEXT "efficacy in reducing infection duration."
#define DRUG_Repsonder_Rate_DESC_TEXT "Probability that an individual will have any response to the drug."
#define Substrain_Relative_Infectivity_String_VDPV1_DESC_TEXT "Substrain_Relative_Infectivity_String_VDPV1"
#define Substrain_Relative_Infectivity_String_VDPV2_DESC_TEXT "Substrain_Relative_Infectivity_String_VDPV2"
#define Substrain_Relative_Infectivity_String_VDPV3_DESC_TEXT "Substrain_Relative_Infectivity_String_VDPV3"
#define Sabin1_Site_Reversion_Rates_DESC_TEXT "Sabin1_Site_Reversion_Rates"
#define Sabin2_Site_Reversion_Rates_DESC_TEXT "Sabin2_Site_Reversion_Rates"
#define Sabin3_Site_Reversion_Rates_DESC_TEXT "Sabin3_Site_Reversion_Rates"
#define Vaccine_Genome_OPV1_DESC_TEXT "Vaccine_Genome_OPV1"
#define Vaccine_Genome_OPV2_DESC_TEXT "Vaccine_Genome_OPV2"
#define Vaccine_Genome_OPV3_DESC_TEXT "Vaccine_Genome_OPV3"
#define PNS_Output_DESC_TEXT "Output filename for node survey data."

// PV=PolioVaccine
#define PV_Cost_To_Consumer_DESC_TEXT "Cost of each polio vaccine."
#define PV_Time_Since_Vaccination_DESC_TEXT "Time since vaccination."
#define PV_Vaccine_Type_DESC_TEXT "Polio vaccine type."

