<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle UpgradeCode="{819B21C0-B427-483B-BDE3-05EF57EB750B}" Version="2.0.0.0">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
              LicenseFile="..\IdmEula.rtf"
              LogoFile="..\idmLogo.png"
      />
    </BootstrapperApplicationRef>
    <Chain>
      <ExePackage Compressed="yes" Id="VCpp2010x86" SourceFile="c:\temp\chain\vcredist_x86.exe" Vital="no" InstallCommand="/q" RepairCommand="/q" UninstallCommand="/uninstall /q" />
      <ExePackage Compressed="yes" Id="VCpp2010x64" SourceFile="c:\temp\chain\vcredist_x64.exe" Vital="no" InstallCommand="/q" RepairCommand="/q" UninstallCommand="/uninstall /q" />
      <MsiPackage
        Compressed="yes"
        Id="MicrosoftMpi"
        SourceFile="c:\temp\chain\mpi_x64.msi"
        Visible="yes"
        Vital="yes"
        />
      <MsiPackage
        Compressed="yes"
        Id="IdmQuickStart"
        SourceFile="..\bin\Release\QuickStart.msi"
        Visible="yes"
        Vital="yes"
        />
    </Chain>
  </Bundle>
</Wix>